<% if logged_in?  %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <video id="others-video" autoplay style="width:100%;"></video>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="row clearfix">
        <div class="col-xs-4 col-md-6">
          <video id="video" muted autoplay style="width:100%;" ></video>
          <div class="log"></div>
        </div>
        <div class="col-xs-8 col-md-6">
          <ul style="list-style:none;">
          <% @users.each do |user| %>
            <li style="margin-bottom:5px">
              <%= link_to "call to #{user.name}", "#", onclick: "callTo(#{user.id});", remote: true, class:"btn btn-lg btn-primary"  %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <script>
  // CSRF-TokenをAjaxのヘッダに突っ込む
$.ajaxSetup({
  beforeSend: function(xhr) {
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  }
});

// ベンダプレフィックスの差を吸収する
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

//peerのId( 自分のID )を取得
var peer = new Peer({key: 'gezmoslk1bye3ik9'});
peer.on('open', function(id){
  console.log("myId: " + id);
  $( "div.log" ).text( "myId: " + id);
  $.post("update_connect_uid", {'connect_uid':id });
});

var myStream;
$(function(){
  navigator.getUserMedia({audio: true, video: true}, function(stream){
    myStream = stream;
    $('#video').prop('src', URL.createObjectURL(stream));
  }, function(){});
});

//target peer id の取得とCall
function callTo(user_id){
  $.ajax({
      type: "get",
      url: "find_connect_uid/" + user_id,
      success: function(data){
        var peerId = data.connect_uid;
        var call = peer.call(peerId, myStream);

        call.on('stream', function(othersStream){
          $('#others-video').prop('src', URL.createObjectURL(othersStream));
        });
      }
  });
}

//受信した時の処理
peer.on('call', function(call){
  call.answer(myStream);

  call.on('stream', function(othersStream){
    $('#others-video').prop('src', URL.createObjectURL(othersStream));
  });
});

//エラー時のログ
peer.on('error', function(e){
  console.log(e.message);
  $('div.log').text( e.messge );
});

  </script>
<% end %>
